<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body class=".bg-body">
    <br/>
    <br/>
    <div class="login">

        <h1>Adress semantic matching and parsing</h1>
        <!-- Main Input For Receiving Query to our ML -->

        <img src="{{url_for('static', filename='insee.png')}}" class="center" />        
        <form  method="post">

        <button type="submit" name='submit_button' value='matching' class="btn btn-primary btn-block btn-large">Matching</button>
        <br/>
        <button type="submit" name='submit_button' value='parsing' class="btn btn-primary btn-block btn-large">Parsing</button>
        
        </form>
    </div>

</body>

</html>