{% extends 'index.html' %}

{% block content %}
{{adresse}}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Rang</th>
            <th scope="col">Identifiant topo</th>
            <th scope="col">Adresse</th>
            <th scope="col">Metric L2</th>
        </tr>
    </thead>

    <tbody>
        {% for key, value in result.items() %}
        <tr class="table-light">
            <th scope="row">>{{ loop.index }}</th>
            <td>{{ value[1] }}</td>
            <td>{{key}}</td>
            
            {% if loop.index <= 3 %}
            <td style="color:#ff002b">{{value[0] |round(2,'floor') }}</td>
            {% else %}
            <td style="color:#0026ff">{{value[0] |round(2,'floor') }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}