<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body class=".bg-body">

    <br />
    <br />
    <div class="login">
        <h1>Semantic parsing</h1>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('parsing')}}" method="post">
            <input type="text" name="adresse" placeholder="Entrer l'adresse à parser" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Prediction</button>
        </form>
    </div>

    <div class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Entité</th>
                    <th scope="col">Libellé prédit</th>
                </tr>
            </thead>
        
            <tbody>
                {% for key, value in result.items() %}
                <tr class="table-light">
                    <td>{{ value }}</td>
                    <td style="color:#ff002b">{{key}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>